html{
	font-family: 'Roboto', sans-serif;
}
a{
	color: white;
}
body{
	background-image: url("../images/nightlight.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.form-check-input{
	width: 30px;
	height: 20px;
}
.modal-header{
	justify-content: center;
}
aside{
	width: 100%;
}
.container-fluid{
	width: 80%;
	margin: auto;
}
.container{
	background-color: whitesmoke;
}


#mapDump {
	height: 300px;
	width: 100%;
}

.startBox{
	margin-top: 25px;
	margin-bottom: 25px;
}

.stickyBtn{
	position: fixed;
	bottom: 25px;
	right: 25px;
}
#eventDump {
	margin-top: 20px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 5px;
	background: rgba(200, 54, 54, 0);
}
.card-title{
	font-weight: bold;
}
.card.event{
	display:flex;
	justify-content: center;
	margin:10px;
	width: 31%;
}
.card-body {
	text-align: center;
}

.smallEvents {
	overflow-y:auto;
	height: 317px;
}