html{
	font-family: 'Roboto', sans-serif;
}
a{
	color: white;
}
body{
	background-image: url("../images/nightlight.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.form-check-input{
	width: 30px;
	height: 20px;
}
.modal-header{
	justify-content: center;
}
aside{
	width: 100%;
}
.container-fluid{
	width: 80%;
	margin: auto;
}
.container{
	background-color: whitesmoke;
}


#mapDump {
	height: 300px;
	width: 100%;
}

.startBox{
	margin-top: 25px;
	margin-bottom: 25px;
}

.stickyBtn{
	position: fixed;
	bottom: 25px;
	right: 25px;
}
#eventDump {
	margin-top: 20px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 5px;
	background: rgba(200, 54, 54, 0);
}
.card-title{
	font-weight: bold;
}
.mapDump{
	margin: auto;
}
.card.event{
	display:flex;
	justify-content: center;
	margin:10px;
	width: 31%;
}
.card-body {
	text-align: center;
}

.loadingGif {
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	display:block;
}

.smallEvents {
	overflow-y:auto;
	height: 317px;
}
.textwrite{
	text-align: center;
	color: white;
}
.wrap{
	animation: caret .3s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 980px) {	
	.container-fluid {
		width: 100%;
	}
	.card.event{
		width: 100%;
	}
}
@media screen and (max-width: 640px) {	
	.container-fluid {
		width: 100%;
	}
	.card.event{
		width: 100%;
	}
}